.service-icon {
    background-color: $white;
    color: $primary-color;
    height: 112px;
    width: 112px;
    display: block;
    line-height: 120px;
    font-size: 36px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  }