$jumbotron-image-cover: "../img/jum-image.jpg";

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary-color: #3d7bc3;
$secondary-color: #9aafc9;
$text-floralwhite: #fffaf0;
$jumbotron-color: #4271a7;
// Height variables
$carousel-item-height: 300px;
